         .red
         {
         color: rgba(224, 64, 56, 1);
         }
         .cadet
         {
         color: rgba(44, 44, 84, 1);
         }
         .plat
         {
         color: rgba(232, 232, 232, 1);
         }
         .peach
         {
         color: rgba(245, 214, 186, 1);
         }
         .sandy
         {
         color: rgba(244, 157, 110, 1);
         }
         html, body {
         background: url('https://trello-attachments.s3.amazonaws.com/5d0f692e1eeeef56c89583df/5e5eaf76bac7c23270ccf43a/677b08abf483dca8e8fd66d0198c6efc/template_(1).png');
         background-color:  rgba(224, 64, 56, 1);
         background-size: cover;
         color: #636b6f;
         font-family: 'Source Sans Pro';
         font-weight: 200;
         margin: 0;
         }
         h1, h2, .modal-content{
         font-family: 'Source Sans Pro';
         font-weight: 900;
         font-size: 72px;
         color: #fff;
         }
         .modal-content{
         font-size: 48px;
         }
         .main{
         margin-top: 15%;
         margin-left: 10%;
         }
         .main-content{
         font-family: 'Source Sans Pro';
         color: white;
         font-weight: 400;
         font-size: 40px;
         padding-bottom: 25px;
         }
         .main-button, .search-button{
         border: 5px solid white;
         color: #fff;
         font-size: 20px;
         }
         .main-button:hover, .search-button:hover{
         background: #fff;
         color: rgba(224, 64, 56, 1);
         border: 5px solid white;
         }
         .search-button:hover{
         color: rgba(44, 44, 84, 1);
         }
         #modal-search, .uk-modal-dialog, .uk-modal-close-full {
         background: rgba(44, 44, 84, 1) !important;
         }
         .modal-body{
         padding-top:100px;
         }
         .item-search, .place-search{
         padding-bottom: 25px;
         padding-left: 20px;
         }
         .suggestions-items{
         list-style-type: none;
         padding: 0px 10px;
         font-size: 24px;
         color: #F49D6E;
         position: absolute;
         z-index: 100;
         left: 45%;
         background: #fff;
         width: 75%;
         }
         .suggestion{
         padding: 5px 10px;
         }
         .suggestion:hover{
         cursor: pointer;
         font-weight: bold;
         }
         .search-module{
         padding: 20px 0px 40px 0px;
         }
         .popular-item{
         display: inline-block;
         margin: 20px;
         }

         .popular-item p{
             text-align: center;
             font-size: 24px;
             color: #fff;
         }

         .popular-item:hover{
             cursor: pointer;
         }

         .pac-container {
            z-index: 10000 !important;
         }
